/* .navbar {
    background-color: #ffffff !important;
    box-shadow: 0 0 8px #ddd;
}

.user-dropdown {
    color: black;
}

.user-caption {
    color: black;
    font: menu;
}
 */
.navbar-brand img {
    height: 50px;
}