<div class="d-flex justify-content-center cardF">
    <p-card header="Nuevo registro" styleClass="p-card-shadow">
        <form (ngSubmit)="save()" #f="ngForm" [formGroup]="aFormGroup" class="needs-validation center" novalidate>
            <div class="form-row">
                <div class="col-md-12">
                    <label>Nombre del role*</label>
                    <div class="input-group">
                        <input (onChange)="roleChanged()" id="role" name="role" type="text" class="form-control" formControlName="roleName" placeholder="Nombre del role" [class]="{
                'is-invalid':
                  roleName.invalid &&
                  (roleName.dirty ||
                    roleName.touched ||
                    roleName.errors.minlength),
                'is-valid': roleName.valid
              }" />
                        <div *ngIf="roleName.invalid && (roleName.dirty || roleName.touched)" class="invalid-feedback">
                            <div *ngIf="roleName.errors.required">
                                El campo es obligatorio
                            </div>
                            <div *ngIf="roleName.errors.minlength">
                                El nombre debe ser de al menos 2 caracteres
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row m-3">
                        Seleccione las opciones sobre las que tiene permisos
                        <b>(al menos una)*</b>
                    </div>
                </div>

                <div *ngFor="let permission of permissions; let i=index" formArrayName="permissionId" class="p-field-checkbox col-md-12 ">
                    <p-checkbox [inputId]=" permission.id " (onChange)="CheckboxArray(permission.id, $event.checked, 'permissionId')" [value]="permission.id"></p-checkbox>
                    <label [for]=" permission.id ">{{ permission.description }}</label>
                </div>
            </div>

            <br />
            <p-button type="submit " label="Guardar " icon="pi pi-check " styleClass="p-button-sm p-button-success " [disabled]="!aFormGroup.valid ">
            </p-button>
            <p-button [routerLink]="[ '/managment/manage-roles'] " label="Cancelar " icon="pi pi-times " styleClass="p-button-sm p-button-danger " [style]="{ 'margin-left': '.4em' } "></p-button>
        </form>
    </p-card>
</div>