<div class="row">
    <div class="col-sm-12"></div>

    <div class="row"></div>

    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="login-content">
            <div class="pane pane-basic login-box">
                <div class="pane-header">
                    <h2 class="centrar">Iniciar sesión</h2>
                </div>
                <form (ngSubmit)="onSubmit()" [formGroup]="aFormGroup">
                    <div class="form-group">
                        <label>Nombre de usuario:</label>
                        <input name="username" type="text" class="form-control" formControlName="username" placeholder="Nombre de usuario" required [ngClass]="{
                'is-invalid':
                  username.invalid &&
                  (username.dirty ||
                    username.touched ||
                    username.errors.minlength),
                'is-valid': username.valid
              }" />

                        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="invalid-feedback">
                            <div *ngIf="username.errors.required">
                                El campo es obligatorio
                            </div>
                            <div *ngIf="username.errors.minlength">
                                El usuario debe ser de al menos 2 caracteres
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Contraseña:</label>
                        <input name="password" type="password" class="form-control" formControlName="password" placeholder="Ingresa tu contraseña" required [ngClass]="{
                'is-invalid':
                  password.invalid && (password.dirty || password.touched),
                'is-valid': password.valid
              }" />
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                            <div *ngIf="password.errors.required">Contraseña obligatoria</div>
                        </div>
                    </div>

                    <div class="recaptcha2" *ngIf="this.contador > 3">
                        <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha" [ngClass]="{
                'is-invalid':
                  recaptcha.invalid && (recaptcha.dirty || recaptcha.touched),
                'is-valid': recaptcha.valid
              }">
                        </ngx-recaptcha2>
                    </div>

                    <div *ngIf="recaptcha.invalid" class="invalid-feedback">
                        <div *ngIf="recaptcha.errors.required">
                            El captcha es obligatorio
                        </div>
                    </div>

                    <!--   <div class="forgot">
            <a
              href="https://i4ch-capitalhumano.cdmx.gob.mx/servicio/olvido"
              class="base-anchor"
            >
              Olvidé mi contraseña
            </a>
          </div> -->
                    <br />
                    <div class="d-flex justify-content-center">
                        <button style="background-color: #A11F41; color: white;" class="btn btn-main  btn-group-justified" type="submit" [disabled]="!aFormGroup.valid">
                            Entrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-sm-4"> <b> {{appAlias}} v{{appVersion}}</b></div>
        </div>
    </div>


</div>