div.dataTables_wrapper {
    width: 800px;
    margin: 0 auto;
}

::ng-deep ngb-datepicker-navigation-select select:first-child {
    display: none;
}

.p-paginator-current {
    color: #000000;
}

.p-col {
    width: 200px;
}

.p-col-full {
    width: 1800px;
}

.p-export-button {
    height: 42px;
    width: 5.357rem;
    margin: 0px 14px;
}

.status-contestada {
    background-color: #32d630;
    color: white;
}

.status-no-contestada {
    background-color: #ef4019;
    color: white;
}

.status-de-conocimiento {
    background-color: #27e0e5;
}

.status-en-elaboracion {
    background-color: #7d839a;
    color: white;
}

.status-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.cell-text.clickable {
    // color: #2196f3 !important;
}

.cell-text {
    /* border-radius: 2px; */
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    /* font-weight: 700; */
    font-size: 12px;
    letter-spacing: 0.3px;
}

h3,
h5 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

th {
    text-align: center;
    align-items: center;
    align-content: center !important;
}

.centrar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 5px;
}

#deleteColumn td {
    text-align: center;
}

table>tbody>td.col-button {
    text-align: center;
}

.col-button {
    width: 10%;
    text-align: center;
}

td.col-button {
    text-align: center;
}

.my-center-text {
    text-align: center;
}

@media screen and (max-width: 40rem) {
     :host ::ng-deep {
        .p-datatable {
            &.p-datatable-responsive-demo {
                .p-datatable-thead>tr>th,
                .p-datatable-tfoot>tr>td {
                    display: none !important;
                }
                .p-datatable-tbody>tr>td {
                    text-align: left;
                    display: block;
                    width: 100%;
                    float: left;
                    clear: left;
                    border: 0 none;
                    .p-column-title {
                        padding: .4rem;
                        min-width: 30%;
                        display: inline-block;
                        margin: -.4em 1em -.4em -.4rem;
                        font-weight: bold;
                    }
                    &:last-child {
                        border-bottom: 1px solid var(--surface-d);
                    }
                }
            }
        }
    }
}

@media (max-width: 40rem) {
    .valve_responsive {
        display: none;
    }
}

@media (min-width: 40rem) {
    .valve_movement_search {
        display: none;
    }
}